
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Messages{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 15px;

}



button{
    background-color: rgb(245, 245, 245);
    color: rgb(42, 48, 41);
    border: 1px solid rgb(112, 112, 112);
    font-weight: 700;
}
.wrapInput{
    margin-top: 15px;
    width: 85%;
    height: 10vh;
    display: flex;
    gap:1vw;
}
.textARR{
    resize: none;
    
}
.nameForm{
    width: 15%;
}
.BtnSend{
    width: 10%;
}

.wrapChat{
    display: flex;
    flex-direction: column;
}